<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="webautomation.Mywebautomationframework.Listeners"/>
</listeners>

	<test name="validating one of the menu on home page">
		<classes>
			<class
				name="webautomation.Mywebautomationframework.ValidateMenu">
			</class>
		</classes>
	</test>


	<test name="validating title in a page">
		<classes>
			<class
				name="webautomation.Mywebautomationframework.ValidateTitle">
			</class>
		</classes>
	</test>
	<test name="validating login with 3 different credentials">
		<classes>
			<class
				name="webautomation.Mywebautomationframework.HomePageTest">
			</class>
		</classes>
	</test>

</suite> 
