<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="validationg one of the menu on home page">
    <classes>
      <class name="webautomation.Mywebautomationframework.ValidateMenu"/>
      </classes>
      </test>
       <test name="validating title in a page">
        <classes>
      <class name="webautomation.Mywebautomationframework.ValidateTitle"/>
      </classes>
      </test>
      
      <test name="validating login with 3 different credentials">
        <classes>
      <class name="webautomation.Mywebautomationframework.HomePageTest"/>
    </classes>
  </test> 
</suite> 
